body{
    text-align: center;
    font-family: 'Lusitana', serif;
}

table{
    margin-top: 5%;
}

td{
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.form{
    margin-top: 25%;
}

.messageErr{
    color: red;
}